:root {
  /* CSS vars */
  --primary-color: #622f60;
  --secondary-color: #ff8f50;
  --third-color: #e0d9e0;
  --bg-color: #fbf6f4;
  --white-color: #fff;
  --text-color: #342e34;
  --color-input-text: #627fa5;

  --products-columns: 1fr 3fr;
  --results-columns: repeat(3, 1fr);
  --center-width: 1440px;

  --border-radius: 24px;
  --box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  --box-shadow-hover: 0px 4px 4px 0 rgba(0, 0, 0, 0.5);
  --tooltip-w: 180px;

  /* Vars media-queries: */
  @media (width <= 1440px) {
    --center-width: 100%;
    --products-columns: 1fr;
    --results-columns: repeat(3, 1fr);
  }
  @media (width < 1024px) {
    --center-width: 100%;
    --products-columns: 1fr;
    --results-columns: repeat(2, 1fr);
  }
  @media (width < 745px) {
    --center-width: 100%;
    --products-columns: 1fr;
    --results-columns: 1fr;
  }

  min-height: 100%;
}

/* generic */
body {
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
}
.hide {
  display: none;
}
/* /generic */

/* layout */
.full-width {
  display: grid;
  grid-template-rows: 80px auto auto 180px;
  gap: 0;
  height: 100vh;
  overflow-x: hidden;
}
.header,
.content,
.footer,
.prime {
  display: grid;
}
.header,
.footer {
  background-color: var(--bg-color);
}
.center {
  justify-self: center;
  width: var(--center-width);
}
/* /layout */
