:root {
  /* CSS vars */
  --primary-color: #622f60;
  --secondary-color: #ff8f50;
  --bg-color: #fbf6f4;
  --center-width: 1440px;
  --products-columns: 1fr 3fr;
  --results-columns: repeat(3, 1fr);
  --border-radius: 24px;
  --text-color: #342e34;

  /* media-queries: */
  @media (width <= 1440px) {
    --center-width: 100%;
    --products-columns: 1fr;
    --results-columns: repeat(3, 1fr);
    background-color: blue;
  }
  @media (width < 1024px) {
    --center-width: 100%;
    --products-columns: 1fr;
    --results-columns: repeat(2, 1fr);
    background-color: green;
  }
  @media (width < 745px) {
    --center-width: 100%;
    --products-columns: 1fr;
    --results-columns: 1fr;
    background-color: red;
  }

  /* width: 100%; */
  /* height: 100%; */
}

/* generic */
body {
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
}
/*  */

/* layout */
#full-width {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0;
  height: 100vh;
}

#header,
#content,
#footer,
#prime {
  display: grid;
}

#header,
#footer {
  background-color: var(--bg-color);
}

.center {
  justify-self: center;
  width: var(--center-width);
}
/*  */

/* header */
#header {
  .center {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0 32px;
    font: 600 16px/1.5 "Nunito", sans-serif;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  #nav {
    ul {
      display: flex;
      list-style: none;
      gap: 2rem;
      margin: 0;
      padding: 0;
    }

    li {
      position: relative;
    }

    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1rem;
      padding: 1.7rem 0.5rem 1.8rem 2rem;
      display: inline-block;
      transition: color 0.3s ease;
    }

    li:nth-child(1) {
      background: url("./icons/adventure.svg") 0 center no-repeat;
    }

    li:nth-child(2) {
      background: url("./icons/lodging.svg") 0 center no-repeat;
    }

    li:nth-child(3) {
      background: url("./icons/destinations.svg") 0 center no-repeat;
    }

    a::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--secondary-color);
      transition: width 0.3s ease;
    }

    a:hover::after {
      width: 100%;
    }
  }

  #user-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      background-color: var(--primary-color);
      border-radius: var(--border-radius);
      padding: 12px 40px;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      color: #fff;
      transition: all 0.3s ease;
    }
    a:hover {
      background-color: var(--secondary-color);
    }
  }
}
/*  */

/* prime */
#prime {
  .tagline {
    text-align: center;
    margin-bottom: 3rem;
  }

  .title {
    font: bold 38px / 1.4 "Syne", sans-serif;
    margin-top: 4rem;
  }

  .subtag {
    font: bold 22px/1.5 "Nunito", sans-serif;
    color: #6b7d8d;
  }

  img {
    width: 100%;
  }
}
/*  */

/* products */
#products {
  display: grid;
  grid-template-columns: var(--products-columns);
  gap: 0.5rem;
  margin: 0 9.5rem;

  #filters {
    border-radius: var(--border-radius);
  }

  #results {
    padding-bottom: 40px;
    /* height: 100vh; */

    .list {
      display: grid;
      grid-template-columns: var(--results-columns);
      gap: 20px;
      padding-bottom: 40px;
    }

    .result-card {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: var(--border-radius);
      height: 300px;
      align-items: center;
      justify-content: center;
    }
  }
}
/*  */

/* footer */
#footer {
  #corporate,
  #rights {
    display: grid;
    place-items: center;
  }

  #corporate {
    display: grid;
    place-items: center;
    height: 128px;

    .center {
      display: grid;
      place-items: center;
    }
  }

  #rights {
    background-color: #e0d9e0;
    text-align: center;
  }
}
/*  */
