/* products: results: result__card: break-layer */
.break-layer {
  position: absolute;
  top: 367px;
  left: 0;
  box-shadow: var(--box-shadow);
  border: solid 1px black;
  border-radius: var(--border-radius);
  width: 403px;
  overflow: hidden;
  z-index: 200;
  background-color: var(--white-color);
}
.break-layer__header {
  background-color: var(--bg-color);
  border-bottom: var(--third-color);
  padding: 1rem 1.6rem;
  position: relative;
}
.break-layer__title {
  font: 700 1.125rem/1.3 "Nunito", sans-serif;
}
.break-layer__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: url(../../icons/sprite.svg) -5px -121px no-repeat;
  height: 1.2rem;
  width: 1.3rem;
  cursor: pointer;
}
.break-layer__content {
  padding: 1.5rem 1.4rem 0 1.4rem;
}
.break-layer__product {
  font: 700 1.125rem/1.3 "Syne", sans-serif;
  color: var(--primary-color);
  margin-bottom: 1.2rem;
  span {
    font-weight: 500;
    color: var(--text-color);
    margin-left: 0.5rem;
  }
}
.break-layer__data li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9rem;
}
.break-layer__left {
  font: 500 1rem/1.3 "Nunito", sans-serif;
}
.break-layer__right {
  font: 700 1.125rem/1.3 "Nunito", sans-serif;
  text-align: right;
}
.break-layer__footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 1.3rem 1.6rem 1rem;
  border-top: 1px solid var(--third-color);
}
.break-layer__text {
  font: 700 1.125rem/1.3 "Nunito", sans-serif;
}
.break-layer__price {
  font: 700 1.375rem/1.3 "Nunito", sans-serif;
}

/* media queries */
@media (width < 1440px) {
  .break-layer {
    top: 377px;
  }
}
@media (width < 745px) {
  .break-layer {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: 100%;
  }
  .break-layer__footer {
    background-color: white;
  }
}
/* /media queries */
/* /products: results: result__card: break-layer */
