/* footer */
.footer {
  border-top: 1px solid var(--third-color);
}
.footer .center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  height: 100%;
}
.footer__corporate {
  height: 120px;
}
.footer__rights {
  background-color: var(--third-color);
  height: 52px;
}

/* media queries */
@media (width <= 1440px) {
  /* footer */
  .footer__corporate .center {
    justify-content: flex-start;
    padding-left: 1rem;
  }
}
/* /media queries */

/* /footer */
